%btn {
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    text-decoration: none;

    &:hover{
        transform: scale(1.05);
    }
}
.btn-primary {
    @extend %btn;
    background: $base-color;
    color: white;
    margin: 5px 0;
    padding: 10px 20px;
}

.btn-secondary{
    @extend %btn;
    margin: 2px;
    padding: 5px 10px 1px 10px;
}

.btn-check{
    @extend .btn-secondary;
    border: 1px solid $check-color;
    color: $check-color;
}

.btn-delete{
    @extend .btn-secondary;
    border: 1px solid $delete-color;
    color: $delete-color;
}