@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
$font-stack: 'Poppins', sans-serif;
$border-radius: 50px;
$base-color: steelblue;
$check-color: #5cb85c;
$delete-color: #d9534f;
$light-color: #f4f4f4;